@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');
* {
  --blue: #229EE4;
  --yellow: #fedc00;
  --red: #D03434;
  --gray: #edecf4;
  font-family: 'Roboto', sans-serif;
  margin: 0;
}

form {
  padding: 20px;
}

.flexBox {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  /*border: 9px solid green;*/
}

.content {
  width: 100%;
  height: 100vh;
  background-color: var(--yellow);
  /*border: 2px solid var(--red);*/
}

.contentFeed {
  width: 100%;
  background-color: var(--yellow);
  /*border: 2px solid var(--red);*/
}

.area {
  background-color: white;
  margin-top: 50px;
  padding: 25px;
  width: 50%;
  border: 2px solid black;
  border-radius: 5px;
  min-height: 450px;
}

.icon {
  width: 150px;
  margin-bottom: 10px;
  margin-top: 50px;
}

.logo {
  width: 50%;
}

.borda {
  border: 5px solid black;
  border-radius: 5px;
  /*border-image: url(./img/mondrian.png) 30% round;*/
}

.field {
  padding: 5px;
  margin: 5px;
  width: 80%;
  height: 35%;
  border: 3px solid var(--blue);
  border-radius: 5px;
}

.field:focus {
  border: 3px solid var(--blue);
}

.button {
  background-color: var(--blue);
  color: white;
  border: none;
  border-radius: 2px;
  width: 150px;
  height: 30px;
  padding: 9px;
  margin: 5px;
}

.buttonDel {
  background-color: var(--red);
  color: white;
  border: none;
  width: 100px;
  height: 30px;
  padding: 5px;
  margin: 5px;
}

.buttonEdit {
  background-color: var(--yellow);
  color: white;
  border: none;
  width: 100px;
  height: 30px;
  padding: 5px;
  margin: 5px;
}

.like_btn {
  background-color: var(--blue);
  color: white;
  border: none;
  width: 30px;
  height: 30px;
  padding: 5px;
  margin: 5px;
}

.typePost {
  border: 2px solid var(--blue);
  border-radius: 5px;
  color: black;
  padding: 15px;
  margin-bottom: 5px;
  margin-top: 10px;
  width: 98%;
}

.postsArea {
  /*border: 2px solid var(--red);*/
  width: 100%;
  border-radius: 5px;
  color: var(--blue);
  padding: 5px;
  margin-bottom: 5px;
  margin-top: 10px;
}

.posts {
  border: 3px solid black;
  box-shadow: 5px 5px 5px gray;
  width: 100%;
  margin: 15px;
  border-radius: 5px;
}

.txtArea {
  background-color: var(--gray);
  width: 80%;
  font-size: 20px;
  color: black;
  padding: 10px;
  border-radius: 5px;
  margin-top: 10px;
}

textarea {
  width: 80%;
  resize: none;
  border-style: none;
  border-color: transparent;

}

.postList {
  border: 2px solid var(--blue);
  min-height: 50px;
  width: 99%;
  font-size: 20px;
  color: var(--blue);
}

.imgPost {
  width: 70%;
  border: 1px solid var(--blue);
  padding: 6px;
  margin: 6px;
}

p {
  padding: 5px;
}

h4 {
  margin-top: 25px;
  margin-bottom: 10px;
}

dt {
  padding: 5px;
}

h3 {
  color: black;
  font-size: 30px;
}