@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');
* {
    --azul: #229EE4;
    --amarelo: #fedc00;
    --vermelho: #D03434;
    font-family: 'Roboto', sans-serif;
    margin: 0;
}

form {
    padding: 20px;
}

.flexBox {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.content {
    width: 100%;
    /*border: 2px solid var(--azul);*/
}

.mondrian {
    background: url(./img/mondrian.png) repeat center;
    width: 25%;
    border: 2px solid yellow;
}

.area {
    margin-top: 50px;
    padding: 25px;
    width: auto;
    border: 2px solid var(--azul);
    border-radius: 8px;
    min-height: 450px;
}

.borda {
    border: 5px solid black;
    border-radius: 8px;
}

.entradas {
    padding: 5px;
    margin: 5px;
    width: 110px;
    border: 3px solid var(--azul);
    border-radius: 5px;
}

.entradas:focus {
    border: 3px solid var(--azul);
}

.button {
    background-color: var(--azul);
    color: white;
    border: none;
    border-radius: 2px;
    width: 100px;
    height: 25px;
    padding: 5px;
    margin: 5px;
}

.post{
    border: 2px solid var(--azul);
    border-radius: 8px;
    color: var(--azul);
    padding: 5px;
    margin-bottom: 5px;
    margin-top: 10px;
}

p{
    padding: 5px;
}